<footer class="footer">
    <img data-watch loading="lazy" src="img/icons/logo4.svg" alt="" class="footer__bg">
    <div class="container">
        <div class="footer__content">
            <div class="footer__body">
                <a data-watch href="./" class="footer__logo">
                    <img loading="lazy" src="img/icons/logo1.svg" alt="">
                </a>
                <p data-watch>
                    Сделай свой клуб брендом!
                </p>
                <div data-watch class="socials">
                    <a href="./">
                        <svg aria-hidden="true" width="11" height="7">
                            <use xlink:href="img/sprite.svg#vk"></use>
                        </svg>
                    </a>
                    <a href="./">
                        <svg aria-hidden="true" width="6" height="6">
                            <use xlink:href="img/sprite.svg#telegram"></use>
                        </svg>
                    </a>
                </div>
                <div data-watch class="footer__descr">
                    ИП Волков Дмитрий Сергеевич
                    <br>
                    ИНН 100116936747
                    <br>
                    ОГРНИП 323100000022996
                </div>
                <div data-watch class="footer__contacts">
                    <a href="mailto:support@mgagency.gg">support@mgagency.gg</a>
                    <a href="./">Политика конфиденциальности</a>
                </div>
            </div>
            <div data-watch class="footer__menu">
                <div class="footer__title">Разделы</div>
                <ul>
                    <li>
                        <a href="./">Услуги</a>
                    </li>
                    <li>
                        <a href="./">Кейсы</a>
                    </li>
                    <li>
                        <a href="./">Партнёрам</a>
                    </li>
                    <li>
                        <a href="./">О компании</a>
                    </li>
                    <li>
                        <a href="./">Вакансии</a>
                    </li>
                    <li>
                        <a href="./" class="last">Модуль для Smart Shell</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>